[user]
    name = Erik R. Yverling
[core]
    autocrlf = input
    editor = vim
[color]
    ui = auto
[alias]
    # Standard
    cl = clone
    ch = checkout
    b = branch
    a = add *
    co = commit
    f = fetch
    pl = pull
    pu = push
    s = status
    d = diff
    rl = reflog

    # Checkout
    chm = !sh -c 'git checkout main && git pull'
    chma = !sh -c 'git checkout master && git pull'
    chd = !sh -c 'git checkout develop && git pull'
    chb = checkout -b

    # Commit
    com = commit -am
    coa = commit --amend

    # Stash
    st = stash
    stp = stash pop
    stc = stash clear
    sl = stash list

    # Log
    l = "!git --no-pager log --pretty=format:'%C(green)%h%Creset %C(cyan)<%an>%Creset \"%s\" %C(blue)(%cr)%Creset ' --abbrev-commit -10"
    ll = "!git --no-pager log --pretty=format:'%C(green)%h%Creset %C(cyan)<%an>%Creset \"%s\" %C(blue)(%cr)%Creset ' --abbrev-commit -100"
    lg = "!git --no-pager log --graph --pretty=format:'%C(green)%h%Creset -%C(yellow)%d%Creset \"%s\" %C(blue)(%cr)%Creset %C(cyan)<%an>' --abbrev-commit -10"
    llg = "!git --no-pager log --graph --pretty=format:'%C(green)%h%Creset -%C(yellow)%d%Creset \"%s\" %C(blue)(%cr)%Creset %C(cyan)<%an>' --abbrev-commit -100"

    # Diff
    dn = diff --name-only
    do = diff origin
    don = diff --name-only origin

    # Show
    sh = show HEAD
    shn = show HEAD --name-only

    # Branch
    bd = b -D
    bm = b -m
    bdma = !sh -c 'git branch --merged master | grep -v \"\\* master\" | xargs -n 1 git branch -d'
    bdm = !sh -c 'git branch --merged main | grep -v \"\\* main\" | xargs -n 1 git branch -d'
    bdd = !sh -c 'git branch --merged develop | grep -v \"\\* develop\" | xargs -n 1 git branch -d'

    # Rebase
    ra = rebase --abort
    rc = rebase --continue
    roma = !sh -c 'git fetch && git rebase origin/master'
    rom = !sh -c 'git fetch && git rebase origin/main'
    rod = !sh -c 'git fetch && git rebase origin/develop'
    ri = !sh -c 'git rebase -i'
    ri2 = !sh -c 'git rebase -i HEAD~2'
    ri3 = !sh -c 'git rebase -i HEAD~3'
    ri4 = !sh -c 'git rebase -i HEAD~4'
    ri5 = !sh -c 'git rebase -i HEAD~5'
    ri6 = !sh -c 'git rebase -i HEAD~6'
    ri7 = !sh -c 'git rebase -i HEAD~7'
    ri8 = !sh -c 'git rebase -i HEAD~8'
    ri9 = !sh -c 'git rebase -i HEAD~9'
    ri10 = !sh -c 'git rebase -i HEAD~10'

    # Merge
    ma = merge --abort

    # Push
    pun = push --no-verify
    puf = !sh -c 'git push -f'
    pufn = !sh -c 'git push -f --no-verify'
    puff = !sh -c 'git commit -a --amend --no-edit && git push -f'
    puffn = !sh -c 'git commit -a --amend --no-edit && git push -f --no-verify'

    # Reset
    rhh = reset --hard HEAD
[push]
    default = simple
[diff]
    tool = meld
[difftool]
    prompt = false
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[push]
    autoSetupRemote = true
